/*CSS Zen Garden Styles- Arianna Marin 2016*/

body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #131A24; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#131A24, #93746F); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#131A24, #93746F); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#131A24, #93746F); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to #131A24, #93746F);
  	background-position: 0 360px;
}
}
.page-wrapper {
	/*styes for entire background of page, should be gradient and fixed width*/
	width: 880px;
}	

.intro {
	/*styles for header of web page including summary and zen preamble*/
	background: url(mutebanner.jpg) no-repeat top;
	background-size: cover;
	width: 100%;
	color: white;
	height: 360px;
	overflow: auto;
	box-shadow: inset 0px -30px 30px -5px #131A24;
}
header h1, h2 {
	display: inline;
	color: #F2D5C2;
}
header {
	margin: 10px;
}
.summary{
	width: 30%;
	margin-left: 15px;
	color: #92D4FF;

}
.preamble {
	/*styles for right box in header preamble*/
	background-color: rgba(176, 141, 125, 0.5);
	width: 400px;
	margin-left: 480px;
	top: 15px;
	position: absolute;
	padding-left: 10px;
	font-size: 12px;
}

#zen-supporting {
	/*styles for body bg including footer except for sidebar*/	
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.explanation {
	background-color: #7BB1DE;
	width: 400px;
	padding: 10px;
	border: double #b08d7d;
}
.participation {
	background-color: #80B9DF;
	padding: 10px;
	width: 400px;
	border: double #b08d7d;
}
.benefits {
	background-color: #7BB1DE;
	padding: 10px;
	width: 400px;
	border: double #b08d7d;
}
.requirements {
	background-color: #80B9DF;
	padding: 10px;
	width: 400px;
	border: double #b08d7d;
	margin-bottom: 20px;

}

footer {
	background-color: #93746F;
	border: double #b08d7d;
	color: white;
	padding: 10px;
	position: absolute;
	width: 100%;
	clear: both;
	text-align: center;
}
footer ul {
	padding-left: 40px;
}

.sidebar ul {
	list-style-type: none;
}
.sidebar {
	width: 400px;
	margin-left: 480px;
	top: 5px;
}

.design-selection {
	background-color: #FFB8B8;
	/*border-style: none none outset outset;
	border-width: 6px;
	border-color: #A87979;*/
	box-shadow: rgb(168, 121, 121) 1px 1px,
    rgb(168, 121, 121) 2px 2px,
    rgb(168, 121, 121) 3px 3px,
    rgb(168, 121, 121) 4px 4px,
    rgb(168, 121, 121) 5px 5px,
    rgb(168, 121, 121) 6px 6px,
    rgb(168, 121, 121) 7px 7px,
    rgb(168, 121, 121) 8px 8px,
    rgb(168, 121, 121) 9px 9px,
    rgb(168, 121, 121) 10px 10px,
    rgb(168, 121, 121) 11px 11px,
    rgb(168, 121, 121) 12px 12px,
    rgb(168, 121, 121) 13px 13px,
    rgb(168, 121, 121) 14px 14px,;
	margin-bottom: 40px;
}

.design-archives {
	background-color: #FFB8B8;
	border-style: none none outset outset;
	border-width: 6px;
	border-color: #A87979;
	margin-bottom: 40px;
}

.zen-resources {
	background-color: #FFB8B8;
	border-style: none none outset outset;
	border-width: 6px;
	border-color: #A87979;
	margin-bottom: 40px;
}

/* bottom of header image bottom of page
.extra6 {
	background: url(mutebanner) no-repeat bottom;
	background-size: cover;
	width: 100%;
	z-index: -10;
	height: 300px;
}
*/

/*smallest screen such as phone*/
@media only screen and (max-width: 500px) {
	body {
		font-size: 10px;
		background-position: 0 0;
		margin: 0 auto;
	}
	.page-wrapper {
		width: 500px;
	}
	header {
    	font-size: 80%;
    }
	.intro {
		background: url(mutesmall.png) no-repeat center;
		background-size: cover;
		width: 100%;
	}
	.summary {
		width: 70%;
  		text-align: center;
  		color: white;
  		background-color: rgba(19, 26, 36, 0.7);
  		margin-left: 0px;
  		padding-top: 0px;
  		padding-bottom: 0px;
  		height: 100px;
	}
	.explanation, .participation, .benefits, .requirements {
   	width: 80%;
   }
   footer a {
   	padding: 5px;
   	font-size: 12px;
   }
   .sidebar {
   	margin: 0px;
   	float: left;
   }
   .design-selection, .design-archives, .zen-resources {
  	margin-bottom: 5px;
  }
}



/*styles for smaller screen such as tablet*/
@media screen and (max-width: 880px) {
	body {
		background-position: 0 0;
		margin: 0 auto;
	}
    .page-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        font-size: 12px;
    }
    #zen-supporting {
    	margin-left: 0px;
    	margin-top: 0px;
    }
   .explanation, .participation, .benefits, .requirements {
   	width: 97%;
   	padding-left: 15px;
   }
  footer {
  	padding: 0px;
  	width: 100%;
  }
  footer a {
  	padding: 40px;
  	font-size: 14px;
  }
  .summary {
  	width: 100%;
  	text-align: center;
  	color: white;
  	line-height: 20%;
  	font-size: 14px;
  	background-color: rgba(19, 26, 36, 0.7);
  	margin-left: 0px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  }
  .preamble {
  	margin: 0px;
  	position: static;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	line-height: 20%;
  	color: #131A24;
  	background-color: rgba(176, 141, 125, 0.8);
  }
  .preamble p {
  	line-height: 100%;
  }
  .intro {
	width: 100%;
  	margin: 0px;
  	height: 300px;
  }
  header {
  	text-align: center;
  	font-size: 150%;
  }
  .sidebar {
  	float: left;
  	margin-top: 50px;
  	margin-left: 0px;
  	width: 80%;
  }

  .design-selection, .design-archives, .zen-resources {
  	margin-bottom: 10px;
  }
}


