/*CSS Zen Garden Styles- Arianna Marin 2016*/

/*server-hosted font
@font-face {
  font-family: 'Fanwood';
  src: url(Fanwood.otf) format("opentype");
}*/

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);

body {
	/*styes for entire background of page, should be gradient and fixed width*/
	margin: 0;
	padding: 0;
	border: 0;
	background: #131A24; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#131A24, #93746F); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#131A24, #93746F); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#131A24, #93746F); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to #131A24, #93746F);
  	background-position: 0 360px;
  	font-size: 16px;
  	font-family: 'Lora', 'Goudy Old Style', serif;
}

.page-wrapper {
	width: 100%;
}

/* unvisited link */
a:link {
    color: #B08D7D;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #B08D7D;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #C9EAFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #9C7264;
    text-decoration: none;
}
.summary a:link {
	color: #F2D5C2;
}
.summary a:hover {
	color: #C9EAFF;
}

.intro {
	/*styles for header of web page including summary and zen preamble*/
	background: url(mutebanner.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 360px;
	overflow: auto;
	box-shadow: inset 0px -30px 30px -5px #131A24;
}
header h1, h2 {
	color: #F2D5C2;
	font-family: 'Lora';
	font-weight: 700;
	text-shadow: 1px 1px #131A24;
	font-size: 28px;
  	}
header h2 {
	font-size: 24px;
}
header {
	margin: 40px;
	line-height: 0.2;
}
.summary{
	width: 25%;
	margin-left: 40px;
	color: #1E293F;
	font-family: 'Lora';
	font-style: italic;
	font-size: 14px;
	background-color: rgba(176, 141, 125, 0.4);
	box-shadow: 2px 2px 28px 3px #B08D7D;
}
.preamble {
	/*styles for right box in header preamble*/
	background-color: rgba(176, 141, 125, 0.6);
	width: 500px;
	margin-left: 580px;
	top: 20px;
	position: absolute;
	padding-left: 10px;
	font-size: 12px;
	color: #F2D5C2;
	transition: all .2s ease-in-out;
}
.preamble:hover {
	transform: scale(1.1); 
}

#zen-supporting {
	/*styles for body bg including footer except for sidebar*/	
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	color: #1E293F;
}
.explanation, .participation, .benefits {
	background-color: #7BB1DE;
	width: 500px;
	padding: 10px;
	border: double #b08d7d;
	border-width: 4px;
}

.requirements {
	background-color: #7BB1DE;
	padding: 10px;
	width: 500px;
	border: double #b08d7d;
	border-width: 4px;
	margin-bottom: 40px;

}

footer {
	background-color: #93746F;
	border: double #b08d7d;
	border-width: 4px;
	color: white;
	padding: 10px;
	position: absolute;
	width: 100%;
	clear: both;
	text-align: center;
}
footer a:link {
	padding-left: 100px;
	transition: all .2s ease-in-out;
}
footer a:hover {
	font-size: 24px;
}

.sidebar ul {
	list-style-type: none;
}
.sidebar {
	width: 500px;
	margin-left: 580px;
	margin-top: 40px;
	color: #1E293F;
}

.design-selection {
	background-color: #FFB8B8;
	/*border-style: none none outset outset;
	border-width: 6px;
	border-color: #A87979;*/
	box-shadow: rgb(178, 129, 129) 1px 1px,
    rgb(178, 129, 129) 2px 2px,
    rgb(168, 121, 121) 3px 3px,
    rgb(168, 121, 121) 4px 4px,
    rgb(168, 121, 121) 5px 5px,
    rgb(168, 121, 121) 6px 6px,
    rgb(168, 121, 121) 7px 7px,
    rgb(168, 121, 121) 8px 8px,
    rgb(168, 121, 121) 9px 9px,
    rgb(168, 121, 121) 10px 10px,
    rgb(168, 121, 121) 11px 11px,
    rgb(168, 121, 121) 12px 12px;
	margin-bottom: 40px;
	padding-bottom: 5px;
}

.design-archives {
	background-color: #FFB8B8;
	/*border-style: none none outset outset;
	border-width: 6px;
	border-color: #A87979;*/
	box-shadow: rgb(178, 129, 129) 1px 1px,
    rgb(178, 129, 129) 2px 2px,
    rgb(168, 121, 121) 3px 3px,
    rgb(168, 121, 121) 4px 4px,
    rgb(168, 121, 121) 5px 5px,
    rgb(168, 121, 121) 6px 6px,
    rgb(168, 121, 121) 7px 7px,
    rgb(168, 121, 121) 8px 8px,
    rgb(168, 121, 121) 9px 9px,
    rgb(168, 121, 121) 10px 10px,
    rgb(168, 121, 121) 11px 11px,
    rgb(168, 121, 121) 12px 12px;
	margin-bottom: 40px;
	padding-bottom: 5px;
}

.zen-resources {
	background-color: #FFB8B8;
	box-shadow: rgb(178, 129, 129) 1px 1px,
    rgb(178, 129, 129) 2px 2px,
    rgb(168, 121, 121) 3px 3px,
    rgb(168, 121, 121) 4px 4px,
    rgb(168, 121, 121) 5px 5px,
    rgb(168, 121, 121) 6px 6px,
    rgb(168, 121, 121) 7px 7px,
    rgb(168, 121, 121) 8px 8px,
    rgb(168, 121, 121) 9px 9px,
    rgb(168, 121, 121) 10px 10px,
    rgb(168, 121, 121) 11px 11px,
    rgb(168, 121, 121) 12px 12px;
	margin-bottom: 40px;
	padding-bottom: 5px;
}

/*smallest screen such as phone*/
@media only screen and (max-width: 500px) {
	body {
		font-size: 10px;
		background-position: 0 0;
		margin: 0 auto;
	}
	.page-wrapper {
		width: 500px;
	}
	header {
    	font-size: 80%;
    }
    header h1, h2 {
    	display: block;
    	line-height: 50%;
    }
	.intro {
		background: url(mutesmall.png) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 800px;
		overflow: auto;
		line-height: 100%;
	}
	.summary {
		width: 70%;
  		text-align: center;
  		color: white;
  		background-color: rgba(19, 26, 36, 0.7);
  		margin-left: 0px;
  		padding-top: 0px;
  		padding-bottom: 0px;
	}
	.explanation, .participation, .benefits, .requirements {
   	width: 80%;
   }
   footer a {
   	padding: 5px;
   	font-size: 12px;
   }
   .sidebar {
   	margin: 0px;
   	float: left;
   }
   .design-selection, .design-archives, .zen-resources {
  	margin-bottom: 5px;
  }
}

/*estimate tablet size*/
@media screen and (min-width: 880px) and (max-width: 1000px){
	body {
		margin: 0 auto;
		font-size: 14px;
	}
	.explanation, .participation, .benefits, .requirements {
	width: 400px;
	}
	.sidebar, .preamble {
		width: 400px;
		margin-left: 50%;
	}
}


/*styles for smaller screen such as tablet*/
@media screen and (max-width: 880px) {
	body {
		background-position: 0 0;
		margin: 0 auto;
	}
    .page-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        font-size: 12px;
    }
    #zen-supporting {
    	margin-left: 0px;
    	margin-top: 0px;
    }
   .explanation, .participation, .benefits, .requirements {
   	width: 97%;
   	padding-left: 15px;
   }
  footer {
  	padding: 0px;
  	width: 100%;
  }
  footer a {
  	padding: 40px;
  	font-size: 14px;
  }
  .summary {
  	width: 100%;
  	text-align: center;
  	color: white;
  	line-height: 20%;
  	font-size: 14px;
  	background-color: rgba(19, 26, 36, 0.7);
  	margin-left: 0px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  }
  .preamble {
  	margin: 0px;
  	position: static;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	line-height: 20%;
  	color: #131A24;
  	background-color: rgba(176, 141, 125, 0.8);
  }
  .preamble p {
  	line-height: 100%;
  }
  .intro {
	width: 100%;
  	margin: 0px;
  	height: 300px;
  }
  header {
  	text-align: center;
  	font-size: 150%;
  }
  .sidebar {
  	float: left;
  	margin-top: 50px;
  	margin-left: 0px;
  	width: 80%;
  }

  .design-selection, .design-archives, .zen-resources {
  	margin-bottom: 10px;
  }
}


