/*CSS Zen Garden Styles- Arianna Marin 2016*/

body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #131A24; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#131A24, #93746F); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#131A24, #93746F); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#131A24, #93746F); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to #131A24, #93746F);
  	background-position: 0 360px;
}
}
.page-wrapper {
	/*styes for entire background of page, should be gradient and fixed width*/
	width: 880px;
}	

.intro {
	/*styles for header of web page including summary and zen preamble*/
	background: url(mutebanner.jpg) no-repeat top;
	background-size: cover;
	width: 100%;
	color: white;
	height: 360px;
	overflow: auto;
	box-shadow: inset 0px -30px 30px -5px #131A24;
}
header h1, h2 {
	display: inline;
	color: #F2D5C2;
}

header {
	margin: 10px;
}
.summary{
	width: 30%;
	margin-left: 15px;
	color: #92D4FF;

}
.preamble {
	/*styles for right box in header preamble*/
	background-color: rgba(176, 141, 125, 0.5);
	width: 400px;
	margin-left: 480px;
	top: 15px;
	position: absolute;
	padding-left: 10px;
	font-size: 12px;
}

#zen-supporting {
	/*styles for body bg including footer except for sidebar*/	
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.explanation {
	background-color: #7BB1DE;
	width: 400px;
	padding: 10px;
	border: double #b08d7d;
}
.participation {
	background-color: #80B9DF;
	padding: 10px;
	width: 400px;
	border: double #b08d7d;
}
.benefits {
	background-color: #7BB1DE;
	padding: 10px;
	width: 400px;
	border: double #b08d7d;
}
.requirements {
	background-color: #80B9DF;
	padding: 10px;
	width: 400px;
	border: double #b08d7d;
	margin-bottom: 20px;

}

footer {
	background-color: #131A24;
	border: double #b08d7d;
	color: white;
	padding: 10px;
	position: absolute;
	width: 100%;
	clear: both;
	text-align: center;
}
footer ul {
	padding-left: 40px;
}

.sidebar {
	width: 400px;
	margin-left: 480px;
	top: 5px;
}

.design-selection {
	background-color: #B1B4B4;
	box-shadow: -4px 4px 2px 0;
	margin-bottom: 20px;
}

.design-archives {
	background-color: #B1B4B4;
	box-shadow: -4px 4px 2px 0;
	margin-bottom: 20px;
}

.zen-resources {
	background-color: #B1B4B4;
	box-shadow: -4px 4px 2px 0;
	margin-bottom: 20px;
}

/* bottom of header image bottom of page
.extra6 {
	background: url(mutebanner) no-repeat bottom;
	background-size: cover;
	width: 100%;
	z-index: -10;
	height: 300px;
}
*/
/*
@media screen and (max-device-width: 480px) {
    .page-wrapper {
        width: 480px;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .preamble {
    	position: relative;
    }
    .footer {
    	position: relative;
    }
}
*/

